/* 
	EJS template (embedded javascript)
	Installs the module and adds to package.json: $ npm install --save ejs

	%=  -  	RENDER that variable inside html (print its content)
	%   -   just RUN THE CODE without showing it in html
*/

<h1>Tweets for <%= name %></h1>
<ul>
	<% tweets.forEach(function(tweet) { %>  // forEach() - array method
		<li><%= tweet.text %></li>
	<% }); %>
</ul>
